{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - {{ article.titre }}{% endblock %}

{% block body %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">{{ article.titre }}</h1>
    </div>
  </div>
  <article class="blog-post">
        <p class="blog-post-meta">
        {% if not article.updatedAt %}
            Écrit le {{ article.createdAt ? article.createdAt|date('d-m-Y H:i:s') : '' }}
        {% else %}
            Modifié le {{ article.updatedAt ? article.updatedAt|date('d-m-Y H:i:s') : '' }}
        {% endif %}
        </p>
        <p>{{ article.contenu }}</p>
   </article>
   <a href="{{ path('app_default') }}" class="btn btn-primary mt-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
</svg> Retour à l'accueil</a>
{% endblock %}
